on:
  release:
    types:
      - published

permissions:
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Build and publish module
        uses: barnumbirr/action-forge-publish@v2.10.0
        env:
            FORGE_API_KEY: ${{ secrets.FORGE_API_KEY }}
            REPOSITORY_URL: https://forgeapi.puppet.com/v3/releases